<!doctype html>
<html>
<head>
<title>FoodCloseToMe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.js'></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Macondo|Oswald|Roboto" rel="stylesheet">

</head>
<body>

<div class = "page">

<nav class="navbar navbar-default" style = "{{ test }}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FoodCloseToMe</a>
    </div>
    <div class="navbar-form navbar-left" id = "navSearchBarForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id = "navSearchBar">
      </div>
      <button type="submit" class="btn btn-default" onclick="navRunSearch()">Submit</button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Restaurants">Restaurants</a></li>
        <li><a href="/Locations">Locations</a></li>
        <li><a href="/Food_Types">Food Types</a></li>
        <li><a href="/Reviews">Reviews</a></li>
        <li><a href="/About">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	{% block body %}{% endblock %}

</div>
<script type="text/javascript">
    if (window.location.pathname == '/') {
        document.getElementById('navSearchBarForm').style.display = "none";
    }
    $(document).ready(function(){
        $('#navSearchBar').keypress(function(e){
            if(e.keyCode==13) {
                console.log("test");
                var value = document.getElementById("navSearchBar").value;
                console.log(value);
                window.location.href = "/All?search=" + value;
            }
        });
    });
    function navRunSearch() {
        var value = document.getElementById("navSearchBar").value;
        console.log(value);
        window.location.href = "/All?search=" + value;
    }
</script>
</body>
</html>
