{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["zipcode"] }}</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="/Food_Types/{{ instance['popular_food_type'] }}"> Go to Popular Food Type </a></li>
  <li><a href="/Restaurants/{{ instance['highest_rated_restaurant_id'] }}">Go to Highest Rated Restaurant </a></li>
  <li><a href="#">Go to {{ instance["cheapest_restaurant"] }}</a></li>
</ul>
</nav>

<article class="article">
  <!-- <p> <img src="{{ url_for('static', filename='img/' + 'temp_image.png')}}" align="right"> </p>
  -->
  <h2> Price Range </h2>
  <p> {{ instance["highest_price"] }} - {{ instance["lowest_price"] }} </p>

  <h2> Average Rating </h2>
  <p> {{ instance["average_rating"] }} </p>


  <a href="/Food_Types/{{ instance['popular_food_type'] }}"> <h2> Popular Food Type </h2> </a> <br>


  <a href="/Restaurants/{{ instance['highest_rated_restaurant'] }}"><h2> Highest Rated Restaurant </h2></a><br>

   <h2> Cheapest Restaurant </h2>
   <p> {{ instance["cheapest_restaurant"] }} </p>
</article>

<footer></footer>
</div>

</body>

{% endblock %}
