{% extends "layout.html" %}
{% block body %}

<div class="flex-container">
<header>
  <h1 class = "detailView">Restaurant: {{ instance["name"] }}</h1>
</header>
<div class="col-sm-12">


<article class="article">
<div class = "row">
<div class = "col-sm-4">
 <div class="thumbnail_container">
  <div class="thumbnail">
  <img style = "position:relative; top:0;" src="{{ instance['img_url'] }}" align="right">
  </div>
 </div>
 </div>
 <div class = "col-sm-8">
 <nav class="nav">
<ul>
  <li><a href="/Food_Types/{{ instance['food_type']}}">Go to {{instance["food_type_disp"] }}</a></li>
  <li><a href="/Locations/{{instance['location'] }}">Go to {{instance["location"] }}</a></li>
  <li><a href="/Restaurant/Reviews/{{instance['id']}}">Go to a Review</a></li>
</ul>
</nav>
  <h2> Food Type </h2>
  <a href="/Food_Types/{{instance['food_type'] }}"> {{ instance["food_type_disp"] }} </a>

  <h2> Rating </h2>
  <p> {{ instance["rating"] }} </p>

  <h2> Price </h2>
  <p> {{ instance["price"] }} </p>

  <h2> Location </h2>
  <p> {{ instance["address"] }} </p>

  <h2> Recent Review </h2>
  <p> "{{ instance["review"] }}" </p>


     <a href = {{ instance["url"] }} target = "_blank"><h2> Link to Yelp </h2></a> </p>
  </div>
</article>
</div>
</div>
<footer></footer>
</div>



{% endblock %}
